---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Jamaica">
    <h1 class="mb-8">You are in Jamaica (JM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
