---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Bulgaria">
    <h1 class="mb-8">You are in Bulgaria (BG)!</h1>
    <EdgeFunctionExplainer />
</Layout>
