---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Bosnia_and_Herzegovina">
    <h1 class="mb-8">You are in Bosnia_and_Herzegovina (BA)!</h1>
    <EdgeFunctionExplainer />
</Layout>
