---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Italy">
    <h1 class="mb-8">You are in Italy (IT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
