---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Comoros">
    <h1 class="mb-8">You are in Comoros (KM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
