---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Mongolia">
    <h1 class="mb-8">You are in Mongolia (MN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
