---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Kyrgyzstan">
    <h1 class="mb-8">You are in Kyrgyzstan (KG)!</h1>
    <EdgeFunctionExplainer />
</Layout>
