---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Saint_Lucia">
    <h1 class="mb-8">You are in Saint_Lucia (LC)!</h1>
    <EdgeFunctionExplainer />
</Layout>
