---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Equatorial_Guinea">
    <h1 class="mb-8">You are in Equatorial_Guinea (GQ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
