---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Romania">
    <h1 class="mb-8">You are in Romania (RO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
