---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Dominican_Republic">
    <h1 class="mb-8">You are in Dominican_Republic (DO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
