---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Uganda">
    <h1 class="mb-8">You are in Uganda (UG)!</h1>
    <EdgeFunctionExplainer />
</Layout>
