---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Gabon">
    <h1 class="mb-8">You are in Gabon (GA)!</h1>
    <EdgeFunctionExplainer />
</Layout>
