---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Tonga">
    <h1 class="mb-8">You are in Tonga (TO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
