---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Czech_Republic">
    <h1 class="mb-8">You are in Czech_Republic (CZ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
