---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Uzbekistan">
    <h1 class="mb-8">You are in Uzbekistan (UZ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
