---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In New_Zealand">
    <h1 class="mb-8">You are in New_Zealand (NZ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
