---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Antigua_and_Barbuda">
    <h1 class="mb-8">You are in Antigua_and_Barbuda (AG)!</h1>
    <EdgeFunctionExplainer />
</Layout>
