---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Somalia">
    <h1 class="mb-8">You are in Somalia (SO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
