---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Vanuatu">
    <h1 class="mb-8">You are in Vanuatu (VU)!</h1>
    <EdgeFunctionExplainer />
</Layout>
