---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In San_Marino">
    <h1 class="mb-8">You are in San_Marino (SM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
