---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Libya">
    <h1 class="mb-8">You are in Libya (LY)!</h1>
    <EdgeFunctionExplainer />
</Layout>
