---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Ireland">
    <h1 class="mb-8">You are in Ireland (IE)!</h1>
    <EdgeFunctionExplainer />
</Layout>
