---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Palau">
    <h1 class="mb-8">You are in Palau (PW)!</h1>
    <EdgeFunctionExplainer />
</Layout>
