---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Guinea_Bissau">
    <h1 class="mb-8">You are in Guinea_Bissau (GW)!</h1>
    <EdgeFunctionExplainer />
</Layout>
