---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Sierra_Leone">
    <h1 class="mb-8">You are in Sierra_Leone (SL)!</h1>
    <EdgeFunctionExplainer />
</Layout>
