---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Lesotho">
    <h1 class="mb-8">You are in Lesotho (LS)!</h1>
    <EdgeFunctionExplainer />
</Layout>
