---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Sri_Lanka">
    <h1 class="mb-8">You are in Sri_Lanka (LK)!</h1>
    <EdgeFunctionExplainer />
</Layout>
