---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Saudi_Arabia">
    <h1 class="mb-8">You are in Saudi_Arabia (SA)!</h1>
    <EdgeFunctionExplainer />
</Layout>
