---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In American_Samoa">
    <h1 class="mb-8">You are in American_Samoa (AS)!</h1>
    <EdgeFunctionExplainer />
</Layout>
