---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Lithuania">
    <h1 class="mb-8">You are in Lithuania (LT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
