---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Spain">
    <h1 class="mb-8">You are in Spain (ES)!</h1>
    <EdgeFunctionExplainer />
</Layout>
