---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In France">
    <h1 class="mb-8">You are in France (FR)!</h1>
    <EdgeFunctionExplainer />
</Layout>
