---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Mauritania">
    <h1 class="mb-8">You are in Mauritania (MR)!</h1>
    <EdgeFunctionExplainer />
</Layout>
