---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In United_States">
    <h1 class="mb-8">You are in United_States (US)!</h1>
    <EdgeFunctionExplainer />
</Layout>
