---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Benin">
    <h1 class="mb-8">You are in Benin (BJ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
