---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Bahamas">
    <h1 class="mb-8">You are in Bahamas (BS)!</h1>
    <EdgeFunctionExplainer />
</Layout>
