---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Greece">
    <h1 class="mb-8">You are in Greece (GR)!</h1>
    <EdgeFunctionExplainer />
</Layout>
