---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Mexico">
    <h1 class="mb-8">You are in Mexico (MX)!</h1>
    <EdgeFunctionExplainer />
</Layout>
