---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Netherlands">
    <h1 class="mb-8">You are in Netherlands (NL)!</h1>
    <EdgeFunctionExplainer />
</Layout>
