---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Armenia">
    <h1 class="mb-8">You are in Armenia (AM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
