---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Haiti">
    <h1 class="mb-8">You are in Haiti (HT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
