---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Guinea">
    <h1 class="mb-8">You are in Guinea (GN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
