---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Tunisia">
    <h1 class="mb-8">You are in Tunisia (TN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
