---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Gambia">
    <h1 class="mb-8">You are in Gambia (GM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
