---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Denmark">
    <h1 class="mb-8">You are in Denmark (DK)!</h1>
    <EdgeFunctionExplainer />
</Layout>
