---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Syria">
    <h1 class="mb-8">You are in Syria (SY)!</h1>
    <EdgeFunctionExplainer />
</Layout>
