---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Thailand">
    <h1 class="mb-8">You are in Thailand (TH)!</h1>
    <EdgeFunctionExplainer />
</Layout>
