---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Cote_d'Ivoire">
    <h1 class="mb-8">You are in Cote_d'Ivoire (CI)!</h1>
    <EdgeFunctionExplainer />
</Layout>
