---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Poland">
    <h1 class="mb-8">You are in Poland (PL)!</h1>
    <EdgeFunctionExplainer />
</Layout>
