---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Zambia">
    <h1 class="mb-8">You are in Zambia (ZM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
