---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Djibouti">
    <h1 class="mb-8">You are in Djibouti (DJ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
