---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Saint_Vincent_and_the_Grenadines">
    <h1 class="mb-8">You are in Saint_Vincent_and_the_Grenadines (VC)!</h1>
    <EdgeFunctionExplainer />
</Layout>
