---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Bhutan">
    <h1 class="mb-8">You are in Bhutan (BT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
