---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Kazakhstan">
    <h1 class="mb-8">You are in Kazakhstan (KZ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
