---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Liechtenstein">
    <h1 class="mb-8">You are in Liechtenstein (LI)!</h1>
    <EdgeFunctionExplainer />
</Layout>
