---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Hungary">
    <h1 class="mb-8">You are in Hungary (HU)!</h1>
    <EdgeFunctionExplainer />
</Layout>
