---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Kuwait">
    <h1 class="mb-8">You are in Kuwait (KW)!</h1>
    <EdgeFunctionExplainer />
</Layout>
