---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In China">
    <h1 class="mb-8">You are in China (CN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
