---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Slovakia">
    <h1 class="mb-8">You are in Slovakia (SK)!</h1>
    <EdgeFunctionExplainer />
</Layout>
