---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Cameroon">
    <h1 class="mb-8">You are in Cameroon (CM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
