---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Trinidad_and_Tobago">
    <h1 class="mb-8">You are in Trinidad_and_Tobago (TT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
