---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Iraq">
    <h1 class="mb-8">You are in Iraq (IQ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
