---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Kiribati">
    <h1 class="mb-8">You are in Kiribati (KI)!</h1>
    <EdgeFunctionExplainer />
</Layout>
