---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Nepal">
    <h1 class="mb-8">You are in Nepal (NP)!</h1>
    <EdgeFunctionExplainer />
</Layout>
