---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Jordan">
    <h1 class="mb-8">You are in Jordan (JO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
