---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Solomon_Islands">
    <h1 class="mb-8">You are in Solomon_Islands (SB)!</h1>
    <EdgeFunctionExplainer />
</Layout>
