---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Dominica">
    <h1 class="mb-8">You are in Dominica (DM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
