---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In United_Arab_Emirates">
    <h1 class="mb-8">You are in United_Arab_Emirates (AE)!</h1>
    <EdgeFunctionExplainer />
</Layout>
