---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In India">
    <h1 class="mb-8">You are in India (IN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
