---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Micronesia">
    <h1 class="mb-8">You are in Micronesia (FM)!</h1>
    <EdgeFunctionExplainer />
</Layout>
