---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Philippines">
    <h1 class="mb-8">You are in Philippines (PH)!</h1>
    <EdgeFunctionExplainer />
</Layout>
