---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Brunei">
    <h1 class="mb-8">You are in Brunei (BN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
