---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Saint_Kitts_and_Nevis">
    <h1 class="mb-8">You are in Saint_Kitts_and_Nevis (KN)!</h1>
    <EdgeFunctionExplainer />
</Layout>
