---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Mozambique">
    <h1 class="mb-8">You are in Mozambique (MZ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
