---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In El_Salvador">
    <h1 class="mb-8">You are in El_Salvador (SV)!</h1>
    <EdgeFunctionExplainer />
</Layout>
