---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Chile">
    <h1 class="mb-8">You are in Chile (CL)!</h1>
    <EdgeFunctionExplainer />
</Layout>
