---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Marshall_Islands">
    <h1 class="mb-8">You are in Marshall_Islands (MH)!</h1>
    <EdgeFunctionExplainer />
</Layout>
