---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Iceland">
    <h1 class="mb-8">You are in Iceland (IS)!</h1>
    <EdgeFunctionExplainer />
</Layout>
