---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Sweden">
    <h1 class="mb-8">You are in Sweden (SE)!</h1>
    <EdgeFunctionExplainer />
</Layout>
