---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Montenegro">
    <h1 class="mb-8">You are in Montenegro (ME)!</h1>
    <EdgeFunctionExplainer />
</Layout>
