---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Fiji">
    <h1 class="mb-8">You are in Fiji (FJ)!</h1>
    <EdgeFunctionExplainer />
</Layout>
