---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In South_Sudan">
    <h1 class="mb-8">You are in South_Sudan (SS)!</h1>
    <EdgeFunctionExplainer />
</Layout>
