---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Japan">
    <h1 class="mb-8">You are in Japan (JP)!</h1>
    <EdgeFunctionExplainer />
</Layout>
