---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Malta">
    <h1 class="mb-8">You are in Malta (MT)!</h1>
    <EdgeFunctionExplainer />
</Layout>
