---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Canada">
    <h1 class="mb-8">You are in Canada (CA)!</h1>
    <EdgeFunctionExplainer />
</Layout>
