---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Burundi">
    <h1 class="mb-8">You are in Burundi (BI)!</h1>
    <EdgeFunctionExplainer />
</Layout>
