---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Angola">
    <h1 class="mb-8">You are in Angola (AO)!</h1>
    <EdgeFunctionExplainer />
</Layout>
