---
import Layout from "../../../layouts/Layout.astro";
import EdgeFunctionExplainer from "../../../components/EdgeFunctionExplainer.astro";
---

<Layout title="In Egypt">
    <h1 class="mb-8">You are in Egypt (EG)!</h1>
    <EdgeFunctionExplainer />
</Layout>
